<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.designersstore">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignersStore">

        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.ActivityChatLogDesginer"
            android:exported="false" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.ActivityDesignerNewMessages"
            android:exported="false" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.ActivityChatLogClient"
            android:exported="false" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.ActivityClientNewMessages"
            android:exported="false" />
        <activity android:name="com.example.designersstore.presentation.ui.activitydesigners.SoldProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.orderdetails.MyOrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.checkout.CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.cartlist.CartListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.AddproductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.AddEditAddressDesigners"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.addressdesigner.AddressList_Designer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.addeditaddressactivity.AddEditAddress"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.addresslistclient.AddressList_Client"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.Settings_Designers_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".ui.activityclient.ListActivity" -->
        <!-- android:label="@string/title_activity_list" -->
        <!-- android:theme="@style/Theme.DesignersStore.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.settingclient.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity android:name="com.example.designersstore.presentation.ui.activitydesigners.Products_Activity" /> <!-- <activity -->
        <!-- android:name=".ui.fragmentsdesigners.Main_Products_Activity" -->
        <!-- android:label="@string/title_activity_main__products_" /> -->
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.Designers_Profile_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.Forgotpassword_Designers_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.Register_Designers_Activity"
            android:screenOrientation="portrait"
             />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.DashboardActivity"
            android:label="@string/title_activity_dashboard" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.clientprofile.Client_Profile_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.Forgotpassword_Client_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.registerclient.Register_Client_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activityclient.loginclient.Login_Client_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activitydesigners.Login_Designers_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar" />
        <activity
            android:name="com.example.designersstore.presentation.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DesignersStore.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.designersstore.presentation.ui.activity.MainActivity" />
    </application>

</manifest>